html,
body,
#root,
#root > div {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-grey {
  background-color: #f3f2f0;
}

.bg-sand {
  background-color: #f5eec2;
}

.bg-dark-green {
  background-color: #416a59;
}

.bg-dark-blue {
  background-color: #39395f;
}

.bg-green {
  background-color: #73a24e;
}

.bg-light-green {
  background-color: #a9c25d;
}

.text-grey {
  color: #f3f2f0;
}

.text-sand {
  color: #f5eec2;
}

.text-dark-green {
  color: #416a59;
}

.text-dark-blue {
  color: #39395f;
}

.text-green {
  color: #73a24e;
}

.text-light-green {
  color: #a9c25d;
}

.button-sand {
  background-color: #f5eec2;
  color: rgba(33, 37, 41, 0.75);
  border: 1px solid #ced4da;
}

.button-sand:hover {
  background-color: #f5eec2a9;
  color: rgba(33, 37, 41, 0.75);
  border: 1px solid #ced4da;
}

.button-sand:focus {
  background-color: #f5eec2a9;
  color: rgba(33, 37, 41, 0.75);
  border: 1px solid #ced4da;
  box-shadow: 0 0 0 0;
}

.button-link {
  padding-top: 0;
  background-color: transparent;
  color: #73a24e;
  border: 0px solid #ced4da;
}

.button-link:hover {
  background-color: transparent;
  color: #a9c25d;
  border: 0px solid #ced4da;
}

.button-link:focus {
  background-color: transparent;
  color: #a9c25d;
  border: 0px solid #ced4da;
  box-shadow: 0 0 0 0;
}

/* 
#f3f2f0
#f5eec2 
#416a59 
#39395f 
#73a24e 
#a9c25d 
*/

@media (max-width: 600px) {
  .element-to-hide {
    display: none;
  }
}
